body {

    font-size: 16px;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #062;
    color: black;
    text-decoration: bold;
}


/** HEADER **/

#header-nav {
    background-color: grey;
    border-radius: 0;
    border: 2px solid black;
}

#header-nav button {
    margin-top: 22px;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #fe9797;
}

.navbar-collapse {
    border-top: 0;
}

.navbar-brand, .navbar-nav li a {
    line-height: 76px;
    height: 76px;
    padding-top: 0;
}

.navbar-brand h1 {

    color: #7d1913;
    font-family: 'Abril Fatface', cursive;
    font-weight: bolder;
    font-size: 1.8em;
}

.navbar-brand a:hover {
    text-decoration: none;
    text-shadow: 1px 1px 1px #fe9797;
}

#nav-list {
    background-color: white;
}

#nav-list a {
    /*text-align: center;*/
    font-weight: bolder;
    color: #282828;
    font-size: 1.2em;
}

#nav-list a:hover {
    color: #202020;
    background-color: #fce29e;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
    border: 1px solid #7d1913;
}



/* main cont*/
h1{
	text-align: center;
	margin-top: 30px;
	margin-bottom: 30px;
  font-weight: bold;
}
.all{
  display: inline-block;
  text-align: center;
}
section{
    margin: 10px;
    background-color: pink;
    border: 2px solid black;
    display: inline-block;
    text-align: center;
}
p{
	padding: 40px;
	text-align: left;
}
h2{
    width: 33%;
    padding-top: 30px;
    padding-bottom:30px;
    display: inline;
    text-decoration: bolder;
}

/*web browser*/
@media (min-width: 992px) {
	.col1, .col2, .col3{

		width: 90%;
	}
	
}

/*tablate*/
@media (min-width: 768px) and (max-width: 991px) {
	.col1,.col2 , .col3{
		float: left;
		width: 30%;
	}

}
/*mobile*/
@media (max-width: 767px){

	.col3 ,.col1 ,.col2{
		width: 70%;
	
	}
}

